@font-face {
    font-family: 'Neue-Haas-Grotesk-Regular';
    src: url('fonts/NHaasGroteskTXPro-55Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue-Haas-Grotesk-Medium';
    src: url('fonts/NHaasGroteskTXPro-65Md.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue-Haas-Grotesk-Bold';
    src: url('fonts/NHaasGroteskTXPro-75Bd.ttf') format('truetype');
}