.accordion-wrapper {
    .accordion {
        border: 1px solid $red;
        border-radius: 1rem;
        padding: 0 1rem;
        overflow: hidden;
        .accordion-content {
            height: 0;
            transition: all .3s ease;
            overflow: hidden;
        }
        .accordion-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            h1, .rightside {
                flex: 1;
                @media screen and (max-width: $tablet) {
                    h1 {
                        flex: 6;
                    }
                }
            }
            .rightside {
                display: flex;
                justify-content: space-between;
                @media screen and (max-width: $tablet) {
                    justify-content: flex-end;
                }
            }
            h1, .yeardate {
                color: $red;
            }
            .yeardate {
                @media screen and (max-width: $tablet) {
                    display: none;
                }
            }
            span:last-child {
                color: $black;
            }
            &.opened {
                transition: all .3s ease;
                span:last-child {
                    transform: rotate(45deg);
                }
                &+.accordion-content {
                    height: 100%;
                    margin-top: 2rem;
                    margin-bottom: 4rem;
                }
            }
        }
    }
}