.accordion-wrapper {
    .accordion {
        border: 1px solid $red;
        border-radius: 1rem;
        padding: 0 1rem;
        .accordion-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            &.opened {
                transition: all .3s ease;
                span:last-child {
                    transform: rotate(45deg);
                }
                &+.accordion-content {
                    height: 100%;
                    display: block;
                }
            }
        }
        .accordion-content {
            height: 0;
            display: none;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
    }
}