.header-wrapper {
    justify-content: space-between;
    .container {
        @media screen and (max-width: $tablet) {
            justify-content: space-between;
        }
    }
}
header {
    flex-direction: row;
    width: 100%;
    background: transparent;
    z-index: 998;
    transition: all .6s ease;
    position: relative;
    @media screen and (max-width: $tablet) {
        background: $white;
    }
    &.has-hero {
        position: absolute;
        top: 0;
        left: 0;
    }
    &.fixed {
        background: $white;
        position: fixed;
        top: 0;
        left: 0;
        .header-wrapper {
            background: $white;
        }
    }
    .header-logo {
        max-width: 25vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        #logoText {
            transition: all .3s ease;
            &.hidden {
                opacity: 0;
            }
        }
    }
    .navbar {
        flex: 1;
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        .pre-menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            a {
                margin: 0;
                margin-top: 1rem;
                margin-left: .5rem;
                &.nav-icon {
                    img {
                        height: 2rem;
                    }
                }
            }
        }
        nav {
            a {
                margin: 0;
                margin-top: .5rem;
                margin-bottom: 1rem;
                margin-left: .5rem;
            }
        }
    }
}

.nav-icon {
    position: relative;
}

.cart-counter {
    position: absolute;
    top: 0;
    right: -7px;
    font-size: 12px;
    background: $red;
    border: 1px solid $white;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
}