#productNav {
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
        border: 1px solid $red !important;
        background: $red !important;
        color: $white !important;
    }
}
.megamenu {
    z-index: 0;
    position: absolute;
    top: -230%;
    left: 0;
    width: 100%;
    transition: top .3s ease;
    background: $white;
    &.visible {
        top: 115px;
    }
}