.mobile-menu {
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    height: calc(100vh - 59px);
    background: $white;
    nav {
        display: flex;
        flex-direction: column;
    }
}