.card {
    overflow: hidden;
    img {
        width: 100%;
    }
    .product-details {
        .product-data {
            .btn {
                margin-top: 0;
            }
            .product-title {
                white-space: nowrap;
                overflow: hidden;
            }
            .product-discount-price {
                text-decoration: line-through;
            }
        }
    }
}

.product-variants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    .variant {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 3px;
        margin-bottom: 3px;
    }
}

.bordered {
    padding: 2rem;
    border: 1px solid $red;
    border-radius: 1rem;
}